/* variables */
:root {
  --sephora-red: #900;
  --black: #000000;
  --background: #ffffff;
  --shadow-strong-color: rgba(0,0,0,.4);
  --shadow-light-color: rgba(0,0,0,.1);
  --shadow-sticky-color: rgba(0,0,0,.1);
  --shadow-medium-color: rgba(0,0,0,.15);
}

.text, body {
	font-family: AvantGardeMedium,Arial,sans-serif;
	letter-spacing: .5px;
	font-size: .9375rem;
	line-height: 1.27;
}