/* variables */
:root {
  --sephora-red: #ff0000;
  --black: #000000;
  --white: #ffffff;
}

.text, body {
	font-family: AvantGardeMedium,Arial,sans-serif;
	letter-spacing: .5px;
	font-size: .9375rem;
	line-height: 1.27;
}