body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #111;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #222;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar button:hover {
    background: #333;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

select {
    padding: 5px;
}